<div class="asset-container">
    <div class="img-container">  
        <img  src="images/notebook.png" width="80px" alt="Monitor">
    </div>
    <div class="container-info">
        <div class="top">
            <h1>{{patrimonio}}</h1>
            <span>{{status}}</span>
        </div>
        <div >
            <h3>Dias pendentes: {{pendingDays}} </h3>
        </div>
        <div class="container-btn">
            <button class="btn" id="check" type="button">Coletar</button>
            <button class="btn" id="scheduled" type="button">Agendar</button>
            <button class="btn" id="del" type="button">Deletar</button>
        </div>
    </div>
</div>