
<main>
  <h1 class="title-header">Relatório de coleta de equipamentos - Brasília.</h1>
  <section class="main-section">
    <section class="section-container">
      <h3>Pendente coleta</h3>
      <div class="assets-container">
        <app-asset></app-asset>
      </div>
      <div class="items"></div>
    </section>
    <section class="section-container">
      <h3>Coletados</h3>
      <div class="items">
        <app-asset></app-asset>
      </div>
    </section>
  </section>
</main>

<router-outlet />
